<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<link rel="stylesheet" type="text/css" href="/static/main.css">
	<link rel="stylesheet" type="text/css" href="/static/style.css">

	<title>wg-dashboard</title>
</head>
<body>
	{% block content %}{% endblock %}

	<script type="text/javascript" src="/static/jquery3.3.1.min.js"></script>
	<script type="text/javascript" src="/static/popper1.14.7.min.js"></script>
	<script type="text/javascript" src="/static/bootstrap4.3.1.min.js"></script>
	<script type="text/javascript" src="/static/qrcode.min.js"></script>
	<script type="text/javascript" src="/static/script.js"></script>
</body>
</html>
