{% extends "base.njk" %}

{% block content %}
<div class="container animated fadeIn">
	<div class="card my-3 rounded-0">
		<div class="card-body">
			<div class="h4 card-title d-flex justify-content-between">
				<p class="display-4 m-0">Dashboard</p>
				<div class="text-right logout">
					<i class="fas fa-door-open" onclick="window.location='/logout'"></i>
				</div>
			</div>
		</div>
	</div>

	<div class="row">

		<div class="col-12 mb-3">
			<div class="card rounded-0">
				<div class="card-body">
					<div class="h4 card-title d-flex justify-content-between">
						<p>Server settings</p>
						<span class="text-right">
							<i id="server_settings" class="far fa-edit text-dark editBtn"></i>
						</span>
					</div>

					<div class="card-text">

						<div class="row">
							<div class="col-4">
								<div class="md-form">
									<input type="text" id="ip_address" class="form-control" value="{{ ip_address }}" disabled>
									<label for="ip_address">IP</label>
								</div>
							</div>

							<div class="col-4">
								<div class="md-form">
									<input type="text" id="port" class="form-control" value="{{ port }}" disabled>
									<label for="port">Port</label>
								</div>
							</div>

							<div class="col-4">
								<div class="md-form">
									<input type="text" id="cidr" class="form-control" value="{{ cidr }}" disabled>
									<label for="cidr">CIDR</label>
								</div>
							</div>

							<div class="col-4">
								<div class="md-form">
									<input type="text" id="virtual_ip_address" class="form-control" value="{{ virtual_ip_address }}" disabled>
									<label for="ip_address">Virtual Address</label>
								</div>
							</div>

							<div class="col-8">
								<div class="md-form">
									<input type="text" id="public_key" class="form-control" value="{{ public_key }}" disabled>
									<label for="public_key">Public Key</label>
								</div>
							</div>

							<div class="col-4">
								<div class="md-form">
									<input type="text" id="network_adapter" class="form-control" value="{{ network_adapter }}" disabled>
									<label for="network_adapter">Network Adapter</label>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>

		<div class="col-12 mb-3">
			<div class="card rounded-0">
				<div class="card-body">
					<div class="h4 card-title">
						<p>Peers</p>
					</div>

					<div class="card-text">

						<div class="row">
							<table class="table">
								<thead class="bg-dark white-text">
									<tr class="text-center">
										<th scope="col">QR Code</th>
										<th scope="col">Download</th>
										<th scope="col">Active</th>
										<th scope="col">Device</th>
										<th scope="col">Public key</th>
										<th scope="col">Allowed IP's</th>
										<th scope="col">Virtual IP</th>
										<th scope="col">Edit</th>
										<th scope="col">Delete</th>
									</tr>
								</thead>

								<tbody id="peers">
									{% for client in clients %}
									<tr class="text-center p-2" id="{{ client.id }}">
										<td>
											<div class="my-auto">
												<button onclick="makeQR({{ client.id }});" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModal">
													<i class="fas fa-qrcode fa-lg"></i>
												</button>
											</div>
										</td>
										<td>
											<div class="my-auto">
												<button onclick="window.location='/api/download/{{ client.id }}';" class="btn btn-dark btn-sm">
													<i class="fa fa-download fa-lg"></i>
												</button>
											</div>
										</td>
										<td>
											{% if client.active %}
											<button class="btn btn-success btn-sm activeBtn" disabled>
												<i class="fas fa-check fa-lg"></i>
											</button>
											{% else %}
											<button class="btn btn-danger btn-sm activeBtn" disabled>
												<i class="fas fa-times fa-lg"></i>
											</button>
											{% endif %}
										</td>
										<td>
											<div class="md-form m-0">
												<input type="text" class="form-control" name="device" value="{{ client.device }}" disabled></input>
											</div>
										</td>
										<td>
											<div class="md-form m-0">
												<input type="text" class="form-control" name="public_key" value="{{ client.public_key }}" disabled></input>
											</div>
										</td>
										<td>
											<div class="md-form m-0">
												<input type="text" class="form-control" name="allowed_ips" value="{{ client.allowed_ips }}" disabled></input>
											</div>
										</td>
										<td>
											<div class="md-form m-0">
												<input type="text" class="form-control" name="virtual_ip" value="{{ client.virtual_ip }}" disabled></input>
											</div>
										</td>
										<td>
											<button class="btn btn-dark btn-sm editBtn">
												<i class="far fa-edit fa-lg"></i>
											</button>
										</td>
										<td>
											<button class="btn btn-danger btn-sm deleteBtn">
												<i class="fas fa-trash fa-lg"></i>
											</button>
										</td>
									</tr>
									{% endfor %}
								</tbody>
								<tr class="p-2">
									<td class="text-center" colspan="8">
										<button class="btn btn-success btn-lg mt-5" onclick="createNewPeer()">
											<i class="fa fa-user-plus"></i> Add Peer
										</button>
									</td>
								</tr>
							</table>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
{% for client in clients %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">{{ client.device }}</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body d-flex justify-content-center">
			<div id="qrcode"></div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		</div>
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}
