{% extends "base.njk" %}

{% block content %}
<div class="adminPage">
	<!-- Sidebar -->
	<div class="leftMenu">
		<div class="leftMenuHeader">
			<div class="leftMenuHeaderLink">
				<span class="projectName">
					wg-dashboard
				</span>
			</div>
		</div>
		<div class="leftMenuLinkContainer">
			<div>
				<p class="title">Content</p>
				<ul class="list nav flex-column nav-pills">
					<li class="item">
						<span class="link" id="v-settings-tab" data-toggle="tab" href="#server-settings-tab" role="tab" aria-controls="server-settings-tab" aria-selected="true">Server settings</span>
					</li>
					<li class="item">
						<span class="link" id="v-peers-tab" data-toggle="tab" href="#peers-tab" role="tab" aria-controls="peers-tab" aria-selected="false">Peers</span>
					</li>
					<li class="item">
						<span class="link" id="v-users-tab" data-toggle="tab" href="#users-tab" role="tab" aria-controls="users-tab" aria-selected="false">Users</span>
					</li>
				</ul>
			</div>
		</div>
		<div style="position: fixed; top: 0px; right: 0px; display: flex; z-index: 1050;">
			<div class="logout">
				<button class="logoutBtn" onclick="location.href='/logout'">Logout</button>
			</div>
		</div>
		<div class="leftMenuFooter">
			<div class="poweredBy">
				<span>View on <a href="https://github.com/wg-dashboard/wg-dashboard" target="__blank">Github</a></span>
			</div>
		</div>
	</div>

	<!-- Main Content -->
	<div class="adminPageRightWrapper">
		<div class="header">
		</div>
		<div class="content">
			<div class="container-fluid containerFluid">
				<div class="wrapper tab-content">
					<!-- Users -->
					<div id="users-tab" class="tab-pane fade">
						<div class="col-12 content-tab">
							<div class="h4 card-title mb-4">
								<span class="d-flex justify-content-between titleContent">Users</span>
								<span class="titleDescription">Configure your dashboard users</span>
							</div>

							<table class="table" style="table-layout: fixed;">
								<thead class="bg-dark text-light">
									<tr class="text-center">
										<th scope="col" class="text-center" width="40%">Username</th>
										<th scope="col" class="text-center" width="40%">Password</th>
										<th scope="col" class="text-center" width="10%">Edit</th>
										<th scope="col" class="text-center" width="10%">Delete</th>
									</tr>
								</thead>

								<tbody id="users">
									{% for user in config.users %}
									<tr class="text-center p-2" id="user_{{ user.id }}">
										<td>
											<div class="md-form m-0" title="Username">
												<input type="text" class="form-control" name="username"
													value="{{ user.username }}" disabled></input>
											</div>
										</td>
										<td>
											<div class="md-form m-0" title="Password">
												<input type="password" class="form-control" name="password"
													placeholder="(new password)" disabled></input>
											</div>
										</td>
										<td>
											<button class="btn btn-dark btn-sm editBtn w-100" title="Edit user">
												<i class="far fa-edit fa-lg"></i>
											</button>
										</td>
										<td>
											<button class="btn btn-danger btn-sm deleteBtn w-100" title="Delete user">
												<i class="fas fa-trash fa-lg"></i>
											</button>
										</td>
									</tr>
									{% endfor %}
								</tbody>
								<tr class="p-2">
									<td class="text-center" colspan="8">
										<button class="btn btn-success mt-4" onclick="window.location='/createuser'"
											data-toggle="tooltip" data-placement="top" title="Add new user">
											<i class="fas fa-user-plus"></i> Add User
										</button>
									</td>
								</tr>
							</table>
						</div>
					</div>

					<!-- Peers -->
					<div id="peers-tab" class="tab-pane fade">
						<div class="col-12 content-tab">
							<div class="h4 card-title mb-4">
								<span class="d-flex justify-content-between titleContent">Peers</span>
								<span class="titleDescription">Configure your peers</span>
							</div>

							<div class="card-text">

								<table class="table" style="table-layout: fixed;">
									<thead class="bg-dark text-light">
										<tr class="text-center">
											<th scope="col" class="text-center" width="10%">QR Code</th>
											<th scope="col" class="text-center" width="12%">Download <i class="fas fa-info-circle fa-sm"
													data-toggle="tooltip" data-placement="top"
													title="Download the configuration file (can be imported into wireguard app)"></i>
											</th>
											<th scope="col" class="text-center" width="10%">Active</th>
											<th scope="col" class="text-center">Device</th>
											<th scope="col" class="text-center">Public key <i class="fas fa-info-circle fa-sm" data-toggle="tooltip"
													data-placement="top" title="Public key of the device"></i></th>
											<th scope="col" class="text-center">Virtual IP <i class="fas fa-info-circle fa-sm" data-toggle="tooltip"
													data-placement="top"
													title="Virtual IP of the device (must be in same virtual network as the wireguard server)"></i>
											</th>
											<th scope="col" class="text-center" width="10%">Edit</th>
											<th scope="col" class="text-center" width="10%">Delete</th>
										</tr>
									</thead>

									<tbody id="peers">
										{% for client in config.peers %}
										<tr class="text-center p-2" id="{{ client.id }}">
											<td>
												<div class="my-auto" title="Show QR code for this peer">
													<button onclick="makeQR({{ client.id }});" class="btn btn-dark btn-sm"
														data-toggle="modal" data-target="#qrModal">
														<i class="fas fa-qrcode fa-lg"></i>
													</button>
												</div>
											</td>
											<td>
												<div class="my-auto" title="Download peer">
													<button onclick="window.location='/api/download/{{ client.id }}';"
														class="btn btn-dark btn-sm">
														<i class="fas fa-download fa-lg"></i>
													</button>
												</div>
											</td>
											<td>
												{% if client.active %}
												<button class="btn btn-success btn-sm activeBtn w-100" title="Peer is active"
													disabled>
													<i class="fas fa-check fa-lg"></i>
												</button>
												{% else %}
												<button class="btn btn-danger btn-sm activeBtn w-100"
													title="Peer is deactivated" disabled>
													<i class="fas fa-times fa-lg"></i>
												</button>
												{% endif %}
											</td>
											<td>
												<div class="md-form m-0" title="Device name">
													<input type="text" class="form-control" name="device"
														value="{{ client.device }}" disabled></input>
												</div>
											</td>
											<td>
												<div class="md-form m-0" title="Public key">
													<input type="text" class="form-control" name="public_key"
														value="{{ client.public_key }}" disabled></input>
												</div>
											</td>
											<td>
												<div class="md-form m-0" title="Virtual IP address">
													<input type="text" class="form-control" name="virtual_ip"
														value="{{ client.virtual_ip }}" disabled></input>
												</div>
											</td>
											<td>
												<button class="btn btn-dark btn-sm editBtn w-100" title="Edit peer">
													<i class="far fa-edit fa-lg"></i>
												</button>
											</td>
											<td>
												<div class="my-auto" title="Delete peer">
													<button class="btn btn-danger btn-sm deleteBtn w-100">
														<i class="fas fa-trash fa-lg"></i>
													</button>
												</div>
											</td>
										</tr>
										{% endfor %}
									</tbody>
									<tr class="p-2">
										<td class="text-center" colspan="8">
											<button class="btn btn-success mt-4" onclick="createNewPeer();"
												title="Add new peer">
												<i class="fas fa-user-plus"></i> Add Peer
											</button>
										</td>
									</tr>
								</table>
							{# <button class="primaryBtn saveAndRestartBtn" onclick="saveAndRestart();">Save and restart</button> #}

							</div>
						</div>
					</div>

					<!-- Server Settings -->
					<div id="server-settings-tab" class="tab-pane fade">
						<div class="col-12 mb-5 content-tab">
							<div class="d-flex justify-content-between">
								<h1 class="titleContent">Server settings</h1>
								<div class="text-right" style="margin-top: 0.7rem;">
									<i id="server_settings" class="far fa-edit text-dark px-2 editBtn"
										title="Edit server settings"></i>
									<button class="btn btn-success btn-sm" onclick="retreiveLogs();"
										title="View Wireguard Service Logs" data-toggle="modal"
										data-target="#logsModal">Logs</button>
								</div>
							</div>
							<p class="titleDescription mb-4">Configure your server settings</p>

							<div id="server_settings_items" class="mb-5">
								<div class="row mb-3">
									<div class="col-md-4 col-sm-12">
										<input type="text" id="ip_address" class="form-control"
											value="{{ config.ip_address }}" disabled>
										<label for="ip_address">Public Host / IP <i class="fas fa-info-circle fa-sm"
												data-toggle="tooltip" data-placement="top"
												title="IP that is accessible by the outside"></i></label>
									</div>

									<div class="col-md-4 col-sm-12">
										<input type="number" id="port" class="form-control" value="{{ config.port }}"
											disabled>
										<label for="port">Port <i class="fas fa-info-circle fa-sm" data-toggle="tooltip"
												data-placement="top" title="VPN-Server port"></i></label>
									</div>

									<div class="col-md-4 col-sm-12">
										<input type="text" id="network_adapter" class="form-control"
											value="{{ config.network_adapter }}" disabled>
										<label for="network_adapter">Network Adapter <i class="fas fa-info-circle fa-sm" data-toggle="tooltip"
												data-placement="top" title="Network interface on which WireGuard listens for peer connections"></i></label>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-md-4 col-sm-12">
										<input type="text" id="virtual_ip_address" class="form-control"
											value="{{ config.virtual_ip_address }}" disabled>
										<label for="ip_address">Virtual Address <i class="fas fa-info-circle fa-sm"
												data-toggle="tooltip" data-placement="top"
												title="VPN server address in virtual network - This and the CIDR setting will determine the used virtual network range"></i></label>
									</div>

									<div class="col-md-4 col-sm-12">
										<input type="number" id="cidr" class="form-control" value="{{ config.cidr }}"
											disabled>
										<label for="cidr">CIDR <i class="fas fa-info-circle fa-sm" data-toggle="tooltip"
												data-placement="top" title="CIDR of the virtual address"></i></label>
									</div>

									<div class="col-md-4 col-sm-12">
										<input type="text" id="dns" class="form-control" value="{{ config.dns }}" disabled>
										<label for="dns">DNS <i class="fas fa-info-circle fa-sm" data-toggle="tooltip"
												data-placement="top" title="DNS server ip that will be used by peers to resolve domain names"></i></label>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-md-8 col-sm-12">
										<input type="text" id="public_key" class="form-control"
											value="{{ config.public_key }}" disabled>
										<label for="public_key">Public Key <i class="fas fa-info-circle fa-sm"
												data-toggle="tooltip" data-placement="top"
												title="Public key of the VPN-Server (unchangeable)."></i> <i
												class="fas fa-sync fa-sm text-info mx-2" data-toggle="tooltip"
												data-placement="top" title="Re-create public & private server keys"
												onclick="refreshServerKeys();" style="cursor: pointer; display: inline-block;"></i></label>
									</div>

									<div class="col-md-4 col-sm-12">
										<input type="text" id="config_path" class="form-control"
											value="{{ config.config_path }}" disabled>
										<label for="config_path">Config Path <i class="fas fa-info-circle fa-sm"
												data-toggle="tooltip" data-placement="top"
												title="Path to the WireGuard config."></i></label>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-md-4 col-sm-12">
										<div class="btn-group inputToggleContainer" id="dns_over_tls">
											{% if config.dns_over_tls %}
												<button class="btn gradientOff" id="disableTLSoverDNS" disabled>OFF</button>
												<button class="btn gradientOn" id="enableTLSoverDNS" disabled>ON</button>
											{% else %}
												<button class="btn gradientOn" id="disableTLSoverDNS" disabled>OFF</button>
												<button class="btn gradientOff" id="enableTLSoverDNS" disabled>ON</button>
											{% endif %}

										</div>
										<label for="dns_over_tls" style="display: block;"><span>Enable DNS over TLS <i class="fas fa-info-circle fa-sm"
												data-toggle="tooltip" data-placement="top"
												title="Toggle usage of DNS over TLS - this basically encrypts dns queries before they are sent to the configured DNS server"></i></span>
												<br />
												<span><a target="_blank" href="https://developers.cloudflare.com/1.1.1.1/dns-over-tls/">read more here</a></span>
										</label>
									</div>

									<div class="col-md-4 col-sm-12" style="visibility: {{ 'visible' if config.dns_over_tls else 'hidden' }}" id="tls_servername_input">
										<input type="text" id="tls_servername" class="form-control"
											value="{{ config.tls_servername }}" value="{{ config.tls_servername }}" disabled>
										<label for="tls_servername">TLS Servername <i class="fas fa-info-circle fa-sm"
												data-toggle="tooltip" data-placement="top"
												title="DNS over TLS requires that a TLS hostname is sent"></i></label>
									</div>
								</div>
							</div>

							<button class="primaryBtn saveAndRestartBtn" onclick="saveAndRestart();">Save and restart</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="qrModal" tabindex="-1" role="dialog" aria-labelledby="qrModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="qrModalLabel"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body d-flex justify-content-center">
				<div id="qrcode"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="logsModal" tabindex="-1" role="dialog" aria-labelledby="logsModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="logsModalLabel"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body d-flex justify-content-center">
				<div id="logscode" class="bg-dark text-light p-2"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script>
	let private_traffic = {{ config.private_traffic }}
	let _config = {{ config | dump | safe }}
	let config = {{ config | dump | safe }}
</script>
{% endblock %}
