{% extends "base.njk" %}

{% block content %}
<div class="container">

	<div class="card w-50 mx-auto mt-5">
		<div class="card-body">
			<h5 class="card-title">Wireguard Dashboard</h5>
			<p class="card-text">

				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">username</span>
					</div>
					<input type="text" class="form-control" placeholder="admin">
				</div>

				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">password</span>
					</div>
					<input type="text" class="form-control" placeholder="admin">
				</div>

			</p>
			<a href="/" class="btn btn-dark">Dashboard</a>
		</div>
	</div>
</div>
{% endblock %}
