{% extends "base.njk" %}

{% block content %}
<div class="container animated fadeIn">

	<div class="card w-50 mx-auto mt-5">

		<form class="card-body" onsubmit="return false;">
			<div class="row mb-5">
				<div class="col-12 text-center">
					<img src="static/img/wg-dashboard-logo-no-text.png" width="100">
					<h1 class="card-title h1 mb-4">wg-dashboard</h1>
				</div>
			</div>

			<div class="card-text">
				<div class="mb-3">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control">
				</div>

				<div class="mb-3">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control">
				</div>
			</div>

			<div class="text-right">
				<button class="btn btn-outline-dark mt-3" onclick="login();">LOGIN</button>
			</div>
		</form>

	</div>
</div>
{% endblock %}
