{% extends "base.njk" %}

{% block content %}
<div class="container animated fadeIn">

	<div class="card w-50 mx-auto mt-5">

		<form class="card-body" onsubmit="return false;">
			<h5 class="card-title h2 mb-4">WireGuard Dashboard</h5>

			<div class="card-text">
				<div class="mb-3">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control">
				</div>

				<div class="mb-3">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control">
				</div>
			</div>

			<div class="text-right">
				<button class="btn btn-outline-dark mt-3" onclick="login();">LOGIN</button>
			</div>
		</form>

	</div>
</div>
{% endblock %}
