{% extends "base.njk" %}

{% block content %}
<div class="container animated fadeIn">

	<div class="card w-50 mx-auto mt-5">

		<form class="card-body" onsubmit="return false;">

			<div class="row mb-5">
				<div class="col-12 text-center">
					<img src="static/img/wg-dashboard-logo-no-text.png" width="128">
					<h1 class="card-title h1 mb-4">Setup Username and Password</h1>
				</div>
			</div>


			<div class="card-text">
				<div class="mb-3">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control">
				</div>

				<div class="mb-3">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control">
				</div>

				<div class="mb-3">
					<label for="password">Password confirmation</label>
					<input type="password" id="password_confirm" name="password_confirm" class="form-control">
				</div>
			</div>


			<div class="text-right">
				{% if not firstAccount %}
					<button onclick="window.location='/'" style="cursor: pointer;" class="btn border-0 mt-4 mx-2">CANCEL</button>
				{% endif %}
				<button onclick="createUser();" class="btn btn-outline-dark mt-4">CREATE</button>
			</div>
		</form>

	</div>
</div>
{% endblock %}
