{% extends "base.njk" %}

{% block content %}
<div class="container animated fadeIn">

	<div class="card w-50 mx-auto mt-5">

		<form class="card-body" action="/api/createuser" method="post">
			<h5 class="card-title h2">Setup Username and Password</h5>

			<div class="card-text">
				<div class="md-form">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control">
				</div>

				<div class="md-form">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control">
				</div>
			</div>

			<div class="text-right">
				<input type="submit" class="btn btn-outline-dark btn-lg" value="Save"></input>
			</div>
		</form>

	</div>
</div>
{% endblock %}
