button {
	outline: none !important;
	box-shadow: none !important;
}

.editBtn,
.saveBtn {
	min-width: 60px !important;
	justify-content: center;
}

.editBtn {
	color: #fff;
}

.saveBtn {
	color: #28a745 !important;
}

.logout,
#server_settings,
.saveConfBtn,
.pointer {
	cursor: pointer;
}

#qrcode {
	width: 400px;
	height: 500px;
	margin-top: 15px;
}

#qrcode img {
	width: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

div.alert-box {
	display: block;
	padding: 6px 7px;
	color: #eee;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.1);
	text-shadow: 0 1px rgba(0, 0, 0, 0.7);
	position: fixed;
	width: 100%;
	z-index: 99;
	font-size: 1.3rem;
	background-color: #222;
	color: #fff;
}

div.alert-box a {
	color: #fff;
	text-decoration: none;
}

.alert-box a.close {
	color: #eee;
	position: absolute;
	right: 30px;
	top: 0;
	font-size: 18px;
	opacity: 0.8;
	padding: 4px;
	text-decoration: none;
}

.alert-box a.close:hover,
.alert-box a.close:focus {
	opacity: 0.4;
}

.text-center {
	text-align: center;
}
