button {
	outline: none !important;
	box-shadow: none !important;
}

.editBtn,
.saveBtn {
	min-width: 60px !important;
	justify-content: center;
}

.editBtn {
	color: #fff;
}

.saveBtn {
	color: #28a745 !important;
}

.logout, #server_settings, .saveConfBtn {
	cursor: pointer;
}

#qrcode {
	height:300px;
	margin-top:15px;
}
