[Interface]
Address = {{ client_ip_address }}/{{ cidr }}
PrivateKey = {{ client_private_key }}
DNS = {{ server_virtual_ip }}

[Peer]
PublicKey = {{ server_public_key }}
Endpoint = {{ server_endpoint }}:{{ server_port }}
AllowedIPs = {{ allowed_ips | join(",") }}

# This is for if you're behind a NAT and
# want the connection to be kept alive.
PersistentKeepalive = 25
